<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink ="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Pais
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink ="/pais">Mostrar</a></li>
                    <li><a class="dropdown-item" routerLink  ="/pais/add">Agregar</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Pregunta
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink ="/pais">Mostrar</a></li>
                    <li><a class="dropdown-item" routerLink  ="/pais/add">Agregar</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" routerLink ="/pais">Mostrar Resupestas correctas</a></li>
                    <li><a class="dropdown-item" routerLink  ="/pais/add">Actualizar Respuestas correctas</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Invento
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink ="/pais">Mostrar</a></li>
                    <li><a class="dropdown-item" routerLink  ="/pais/add">Actualizar</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Consultas
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" routerLink ="/consulta1">Consulta 1</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta2">Consulta 2</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <li><a class="dropdown-item" routerLink ="/consulta3">Consulta 3</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta4">Consulta 4</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta5">Consulta 5</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta6">Consulta 6</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta7">Consulta 7</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta8">Consulta 8</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta9">Consulta 9</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta10">Consulta 10</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta11">Consulta 11</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta12">Consulta 12</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta13">Consulta 13</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta14">Consulta 14</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta15">Consulta 15</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta16">Consulta 16</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta17">Consulta 17</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta18">Consulta 18</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta19">Consulta 19</a></li>
            <li><a class="dropdown-item" routerLink ="/consulta20">Consulta 20</a></li>
          </ul>
        </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
    </div>
  </nav>
